extends layout

block content
  include carousel
  div(class="section section-updates bg-gray")
    div(class="text-center")
     h3='TERRENOS'
    div(class="container grid-lg")
      div(class="productList_container columns")
        div(class="column col-4 col-xs-12")
          div(class="card")
            div(class="card-image")
              img(class="img-responsive" src="../img/osx-el-capitan-2.jpg" alt="OS X El Capitan")
            div(class="card-footer")
              a(class="btn btn-primary" href="#cards")='Buy'
              a(class="btn btn-link" href="#cards")='Share'
            div(class="card-body")
              strong='Surface Studio'
              p='Turn your desk into a Studio. Surface Studio is designed for the creative process.'
        div(class="column col-4 col-xs-12")
          div(class="card")
            div(class="card-image")
              img(class="img-responsive" src="../img/osx-el-capitan-2.jpg" alt="OS X El Capitan")
            div(class="card-footer")
              a(class="btn btn-primary" href="#cards")='Buy'
              a(class="btn btn-link" href="#cards")='Share'
            div(class="card-body")
              strong='Surface Studio'
              p='Turn your desk into a Studio. Surface Studio is designed for the creative process.'
        div(class="column col-4 col-xs-12")
          div(class="card")
            div(class="card-image")
              img(class="img-responsive" src="../img/osx-el-capitan-2.jpg" alt="OS X El Capitan")
            div(class="card-footer")
              a(class="btn btn-primary" href="#cards")='Buy'
              a(class="btn btn-link" href="#cards")='Share'
            div(class="card-body")
              strong='Surface Studio'
              p='Turn your desk into a Studio. Surface Studio is designed for the creative process.'
                  