doctype html
html
  head
    title= title
    link(rel="stylesheet", href='https://unpkg.com/spectre.css/dist/spectre.min.css')
    link(rel="stylesheet" href='https://unpkg.com/spectre.css/dist/spectre-exp.min.css')
    link(rel="stylesheet", href='https://unpkg.com/spectre.css/dist/spectre-icons.min.css')
    link(rel="stylesheet", href='http://localhost:3000/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(name="robots" content="index, follow")
  body
    div(class="container")
     header(class="navbar")
      section(class="navbar-section")
        a(href="/" class="navbar-brand mr-2")='FOOD Stack'
        //a(href="..." class="btn btn-link")='Explorar'//
      section(class="navbar-section")
        if(user)
          div(class='dropdown')
            div(class="btn-group")
              figure(class="avatar avatar-sm dropdown-toggle",tabindex="0")
                img(src="https://picsum.photos/200/300/?blur" alt="...")
              ul(class="menu", id="menu_profile")
                li
                  a(class="btn btn-link",href='http://localhost:3000/dashboard')='dashboard'
                li
                  a(class="btn btn-link",href='http://localhost:3000/logout')='Logout'
        else
          a(class="btn btn-link",href='http://localhost:3000/login')='Login'
          a(class="btn btn-link",href='http://localhost:3000/login')='Registrate'
    
    div(class="space")
    div(class="container grid-xl")
      div(class="productList_container columns")
        div(class="column col-3")
            ul(class="menu")
                li(class="menu-item")
                    div(class="tile tile-centered")
                    div(class="tile-icon")
                        img(class="avatar" src="https://picsum.photos/200/300/?blur" alt="Avatar")
                    div(class="tile-content")=user
                li(class="divider")
                li(class="menu-item")
                    a(href='http://localhost:3000/all_users')='Usuarios'
                li(class="menu-item")
                    a(href='http://localhost:3000/all_users')='Publicciones'
                li(class="menu-item")
                    a(href='http://localhost:3000/all_categorySeed')='Categoria de semillas'
                li(class="menu-item")
                    a(href='http://localhost:3000/all_seed')='Semillas'
                li(class="menu-item")
                    a(href='http://localhost:3000/all_users')='Ordenes'
                li(class="menu-item")
                    a(href='http://localhost:3000/logout')='cerrar sesion'
        div(class="column col-9")  
         block content

