extends layoutAdmin

block content
    h1= 'Editar semilla'
    a(href='http://localhost:3000/all_categorySeed')='regresar'
    form(action='http://localhost:3000/delete_location/'+location._id,method='post')
        div(data-role='fieldcontain')   
           input(type='submit',value='Eliminar',data-transition='fade', data-theme='c')
    form(action='http://localhost:3000/edit_location/'+location._id,method='post', class="form-horizontal")
        div(class="form-group")
            label(class="form-label" for="input-example-1") Pais
        div(class="col-9 col-sm-12")
            input(class="form-input" value=location.pais name="pais" type="text" id="input-example-1" placeholder="Name")
        div(class="form-group")
            label(class="form-label" for="input-example-1") Provincia
        div(class="col-9 col-sm-12")
            input(class="form-input" value=location.provincia name="provincia" type="text" id="input-example-1" placeholder="Name")
        div(class="form-group")
            label(class="form-label" for="input-example-1") Ciudad
        div(class="col-9 col-sm-12")
            input(class="form-input" value=location.ciudad name="ciudad" type="text" id="input-example-1" placeholder="Name")
        div(class="col-9 col-sm-12",style="padding:10px;")
            button(class="btn btn-success", type='submit' )  Guardar




      